@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Seção 1 - O que fazemos com as suas informações?
<p>
Quando compra na nossa loja, como parte do processo de compra e venda, recebemos as informações pessoais que nos fornece, como o seu nome, morada e endereço de e-mail.
<p>
Quando navega na nossa loja, também recebemos automaticamente o endereço de protocolo de Internet (IP) do seu computador para nos fornecer informações que nos ajudem a aprender sobre o seu navegador e sistema operacional.
Newsletter (se aplicável): Com a sua permissão, podemos enviar e-mails sobre a nossa loja, novos produtos e outras atualizações.

<p>
Seção 2 - Consentimento
<p>
Como nos dá o seu consentimento?
<p>
Quando nos fornece informações pessoais para concluir uma transação, verificar o seu cartão de crédito, fazer um pedido, providenciar uma entrega ou devolver uma compra, consente esse uso para estes motivos.
Se solicitarmos as suas informações pessoais por um motivo secundário, como marketing, solicitaremos diretamente o seu consentimento expresso ou forneceremos a oportunidade de dizer não.</p>
